<html>
  <head>
    <title>stonks</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
      body {
        background-color: #333;
      }
      h1 {
        color: white;
      }
      h2 {
        color: white;
      }
    </style>
  </head>
  
	<body>
    <div class="ui inverted pointing menu">
      <a href="/" class="active item">
        Stocks
      </a>
      <a href="/strategies" class="item">
        Strategies
      </a>
      <a href="/trades" class="item">
        Trade History
      </a>
      <div class="right menu">
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
		<div class="ui container">
            {% block content %}
            {% endblock %}
    </div>
  </body>
</html>